@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "/css/reset.css";
@import "/css/variables.css";

/* 임포트 하는 순서가 중요합니다 */

/* components */
@import "/css/components/status-bar.css";
@import "/css/components/nav-bar.css";
@import "/css/components/screen-header.css";
/* Screens */
@import "/css/screen/welcome.css";

body{
    font-family: "Open Sans";
}

